.empty {
    display: block !important;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.folderContainer,
.fileContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fileContainer {
    margin-top: 2rem;
}

:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
    font-family: system-ui, sans-serif;
    background-color: #F6F6F6;
}

main {
    margin: auto;
    padding: 1.5rem;
    max-width: 95%;
    color: black;
}

@media (max-width: 610px) {
    main {
        width: 90%;
    }
}

@media (max-width: 610px) {
    .folderContainer, .fileContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    color: gainsboro;
    text-align: left;
}

.text_gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}